# Ignore log files
decode.log
admin/decode.log
error_log

# Ignore cache data
cache/data/

# Ignore license dat files
license/*.dat

# Ignore local Composer binary
composer.phar

# Ignore local database credentials
config/db_credentials.php
