# Ignore log files
decode.log
admin/decode.log
error_log

# Ignore cache data
cache/data/

# Ignore license dat files
license/*.dat

# Ignore local Composer binary
composer.phar

# Ignore local database credentials
config/db_credentials.php

# Ignore admin logs and cache
admin/error_log
admin/cache/data/

# Ignore Telegram bot logs and cache
telegram_bot/error_log
telegram_bot/logs/
telegram_bot/cache/data/
